
#signup {
  background-color: transparent;
  border: transparent;
  color: rgb(70, 70, 187);
}

#signup:hover {
  cursor: pointer;
}

#login:hover {
  cursor: pointer;
}

body {
  background-color: #ffe5d4; // Soft Beige
}

.login-container, .signup-box, .application-container {
  background-color: #c0deef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  border-radius: 15px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
}

.jobhub img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: auto
}

.header {
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: rgb(55, 53, 53);
  text-shadow: 1px 1px 0 grey, 1px 2px 0 grey, 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_box {
  display: flex;
  flex-direction: column;
  background-color: #c0deef;
  padding: 30px;
  border-radius: 6px;
  align-items: center;
  max-width: 400px;
  margin-top:20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  border-radius: 6px;
  padding:  5px;
}

.input-field{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
 
}

.btn {
  width: 100%;
}

.input-field label {
  flex: 0 150px;
  font-weight: bold;
}

.input-field input {
  flex: 1;
  padding: 8px;
}

.input-field select {
  width: 63%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.input-field select:focus {
  outline: none;
  border-color: dodgerblue;
}

.dashboard-top-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: space-around;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  border: solid rgb(255, 255, 255) 3px;
  width: 20%;
  padding: 15px;
  font-size: 1.25em;
}

.sidebar-box {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}

.application-card {
  border:1px  solid rgb(139, 66, 66);
  border-radius: 5px;
  padding: 15px;
  margin: 15px 0;
}

#application_list {
  padding: 15px;
  height: 400px;
  overflow-y: scroll;
  width: 100%;
}

.placeholderText {
  text-align: center;
}

.jobhub {
  max-width: 80%;
}

.button-container {
  
}

.navbar{
  background-color: #c0deef;
  border: solid 1px #c0deef;
}

.navbar-link {
  color : rgb(1, 8, 10);
  padding: 10px 20px;
  border-right: 1px  solid rgb(182, 196, 196)
}

.navbar-link:hover{
  background-color: rgb(4, 170, 161)
}